<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div {
      background-color: #bcaa;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      box-shadow: -6px 16px 16px -8px rgb(0 0 0 / 88%), -9px 28px 28px 0 rgb(0 0 0 / 85%), 
      -12px 48px 48px 16px rgb(0 0 0 / 83%);
    }
  </style>
</head>

<body>
  <div>this is test</div>
</body>

</html>